<h1>Make your form here</h1>
<form method= "POST" action="/pirates">
<label for="pirate_name">Pirate Name</label><br>
<input type="text" id="pirate_name" name="pirate[name]"></input><br>

<label for="pirate_weight">Pirate Weight</label><br>
<input type="text" id="pirate_weight" name="pirate[weight]"></input><br>

<label for="pirate_height">Pirate Height</label><br>
<input type="text" id="pirate_height" name="pirate[height]"></input><br>


<label for="ship_name">Ship No. 1 Name:</label><br>
<input type="text" id="ship_name_1" name="pirate[ships][][name]"></input><br>

<label for="ship_type">Ship No. 1 type:</label><br>
<input type="text" id="ship_type_1" name="pirate[ships][][type]"></input><br>

<label for="ship_booty">Ship No. 1 booty:</label><br>
<input type="text" id="ship_booty_1" name="pirate[ships][][booty]"></input><br>


<label for="ship_name">Ship No. 2 Name:</label><br>
<input type="text" id="ship_name_2" name="pirate[ships][][name]"></input><br>

<label for="ship_type">Ship No. 2 type:</label><br>
<input type="text" id="ship_type_2" name="pirate[ships][][type]"></input><br>

<label for="ship_booty">Ship No. 2 booty:</label><br>
<input type="text" id="ship_booty_2" name="pirate[ships][][booty]"></input><br>

<input type="submit" value="Submit">

</form>
