<h1>Make your form here</h1>

<form method="POST" action="/pirates">
<h1>Pirate Info</h1>
<label for="name"> Pirate Name:</label><br>
<input type="text" id="name" name="pirate[name]"><br>
<label for="weight"> Pirate Weight:</label><br>
<input type="text" id="weight" name="pirate[weight]"><br>
<label for="height"> Pirate Height:</label><br>
<input type="text" id="height" name="pirate[height]"><br>
<br>
<h1>First Ship Info</h1>
<label for="name"> First Ship Name:</label><br>
<input type="text" id="ship_name_1" name="pirate[ships][][name]"><br>
<label for="name">First Ship Type:</label><br>
<input type="text" id="ship_type_1" name="pirate[ships][][type]"><br>
<label for="name">First Ship Booty:</label><br>
<input type="text" id="ship_booty_1" name="pirate[ships][][booty]"><br>

<h1>Second Ship Info</h1>
<label for="name"> Second Ship Name:</label><br>
<input type="text" id="ship_name_2" name="pirate[ships][][name]"><br>
<label for="name">Second Ship Type:</label><br>
<input type="text" id="ship_type_2" name="pirate[ships][][type]"><br>
<label for="name">Second Ship Booty:</label><br>
<input type="text" id="ship_booty_2" name="pirate[ships][][booty]"><br>

<br>
<input type="submit" value="Submit"/>
</form>
